@(tasks: List[Task], taskForm: Form[String])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main("Todo list") {

<h1>@tasks.size task(s)</h1>

<ul>
    @tasks.map { task =>
    <li>
        @task.label
        <!-- [TASK-4] -->
        <!--TODO: Add a form to update the task. Refer to the Add Task section on how to add a form. -->
        <!-- Note that you need to pass the task id to the controller method-->
    </li>
    }
</ul>

<h2>Add a new task</h2>

@form(routes.HomeController.newTask) {
@CSRF.formField
@inputText(taskForm("label"), '_label -> "Task name")

<input type="submit" value="Create">

}

}